<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Site</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="{% url 'home' %}">Blog Posting</a></li>
            <li><a href="{% url 'blog-new' %}"> Create New Post</a></li>
        </ul>
    </div>
    <div class="blog-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>