<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Site</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="{% url 'home' %}">Blog Posting</a></li>
            <li><a href="{% url 'blog-new' %}"> Create New Post</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <div class="blog-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>